body {
    background-color: #121212;
    color: #FFF;
}

header {
    background-color: #333;
    /* Set the background color of the header */
    height: 75px;
    /* Set the height of the header */
    margin: 0 10px;
    /* Set the margin to 10px on both sides */
    display: flex;
    /* Use flexbox layout */
    align-items: center;
    /* Center vertically */
    border-radius: 15px;
}

header img {
    height: 100%;
    /* Set the height to fill the header */
    margin-left: 10px;
    /* Add a 10px margin to the left */
    height: 50px;
    cursor: pointer;
}

.game-card {
    background-color: #333;
    color: #FFF;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.2);
    overflow: hidden;
    width: 300px;
    margin-top: 20px;
    margin-left: 10px;
}

.game-card img {
    height: 200px;
    object-fit: cover;
    width: 100%;
}

.game-card h2 {
    font-size: 24px;
    margin: 20px;
}

.game-card p {
    font-size: 14px;
    margin: 0 20px 20px;
}

.game-card .performance {
    align-items: center;
    background-color: #555;
    display: flex;
    font-size: 12px;
    justify-content: space-between;
    padding: 10px 20px;
}

.game-card .performance span:first-child {
    font-weight: bold;
}
